{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <script src="https://kit.fontawesome.com/04aabd75a3.js" crossorigin="anonymous"></script>
        <link href="https://bootswatch.com/5/spacelab/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/brickmanagement.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <!-- NAV header from bootswatch.com -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">{{settings.site_settings.GlobalSiteSettings.websitename}}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <!-- End NAV header -->
        <!--BS4 Jumbotron emulation-->
        <style type="text/css">
            .jumbotron {
              padding: 4rem 2rem;
              margin-bottom: 2rem;
              background-color: var(--bs-light);
              border-radius: .3rem;  
            }
        </style>
        {% image settings.site_settings.GlobalSiteSettings.site_banner_image  width-1500 as img %}
        <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-repeat: no-repeat;background-position: center center; color: #fff !important;">
          <h1 class="display-4">{{ settings.site_settings.GlobalSiteSettings.websitename }}</h1>
          {% if settings.site_settings.GlobalSiteSettings.site_subtitle %}<p class="lead">{{ settings.site_settings.GlobalSiteSettings.site_subtitle }}</p>{% endif %}
          {% if self.banner_cta %}
              <a class="btn btn-primary btn-lg" href="#" role="button">@todo</a>
          {% endif %}
        </div>
        <!--End BS4 Jumbotron emulation-->
        <div class="mx-3">{% block content %}{% endblock %}</div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/brickmanagement.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
        <!--Footer Section-->
          <footer class="bg-light text-center text-white">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
              {% if settings.site_settings.SocialMediaSettings.facebook %}
              <!-- Facebook -->
              <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #3b5998;"
                href="{{ settings.site_settings.SocialMediaSettings.facebook }}"
                role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>
              {% endif %}
              {% if settings.site_settings.SocialMediaSettings.twitter %}
              <!-- Twitter -->
              <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #55acee;"
                href="{{ settings.site_settings.SocialMediaSettings.twitter }}"
                role="button"
                ><i class="fab fa-twitter"></i
              ></a>
              {% endif %}
              {% if settings.site_settings.SocialMediaSettings.youtube %}
              <!-- YouTube -->
              <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #dd4b39;"
                href="{{ settings.site_settings.SocialMediaSettings.youtube }}"
                role="button"
                ><i class="fab fa-youtube"></i
              ></a>
              {% endif %}
              {% if settings.site_settings.SocialMediaSettings.instagram %}
              <!-- Instagram -->
              <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #ac2bac;"
                href="{{ settings.site_settings.SocialMediaSettings.instagram }}"
                role="button"
                ><i class="fab fa-instagram"></i
              ></a>
              {% endif %}
              {% if settings.site_settings.SocialMediaSettings.github %}
              <!-- Github -->
              <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #333333;"
                href="{{ settings.site_settings.SocialMediaSettings.github }}"
                role="button"
                ><i class="fab fa-github"></i
              ></a>
              {% endif %}
            </section>
            <!-- Section: Social media -->
          </div>
          <!-- Grid container -->

          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright: {{settings.site_settings.GlobalSiteSettings.websitename}}
          </div>
          <!-- Copyright -->
        </footer>
    </body>
</html>
