{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

<!-- @todo - needs be be in better location Image Carousel -->
<!--
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for item in self.carousel_images.all %}
            {% image item.carousel_image fill-300x100 as img %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
            </div>
        {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
-->
  <!-- End Image Carousel-->
<div>
    <h2>{{ self.subtitle }}</h2>
</div>
{% for block in page.content %}
    {% include_block block%}
{% endfor %}


{% endblock %}
