{% extends "base.html" %}

{% load wagtailimages_tags %}


{% block content%}
    <div class="row">
        {% for set in sets %}
            <div class="row">
                <div class="col-sm-3">
                    {% image set.set_image fill-75x75 as set_img %}
                    <a href="{{ set.url }}">
                        <img src="{{ set_img.url }}" alt="{{ set_img.alt }}">
                    </a>
                </div>
                <div class="col-sm-9"><a href="{{ set.url }}">{{ set.set_id }} - {{ set.title }}</a></div>
            </div>
        {% endfor%}
    </div>
{% endblock %}